.main {
   height: 100vh;
   width: 100vw;
}

.main-container {
   text-align: center;
   max-width: 45em;
   height: 100vh;
   display: table;
}

.child-container {
   width: 100%;
   display: table-cell;
   vertical-align: middle;
}

#weather-submit {
   margin-top: 3em;
   font-size: 1.5em;
}